* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.navs {
  font-size: 1rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}
header {
  position: relative;
  padding: 0 2rem;
}
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .links {
  display: flex;
  position: relative;
  gap: 2rem;
  left: 350px;
}
.navbar .toggle-btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.action_btn:hover {
  scale: 1.05;
  color: #fff;
}
/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0px;
  width: 300px;
  background: rgba(80, 26, 189, 0.207);
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1;
}
.dropdown_menu.open {
  height: 190px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* RESPONSIVEDESIGN */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }
  .navbar .toggle-btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdown_menu {
    left: 1rem;
    width: unset;
  }
}
/* BODY DESIGN */
body {
  margin: 0;
  line-height: normal;
  background-size: cover;
  background-position: center;
}
.students-or-employees-adding-e {
  position: absolute;
  top: 104px;
  left: 796px;
  width: 590px;
  height: 511px;
  object-fit: cover;
}
.submit {
  margin-block-start: 0;
  margin-block-end: 0;
  color: white;
}
.your-attendence {
  margin: 0;
}
.submit-your-attendence-container {
  position: absolute;
  top: 300px;
  left: 142px;
  letter-spacing: -0.01em;
  -webkit-text-stroke: 1px #000;
}
.desktop-5 {
  top: 0px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(87, 93, 238, 0.81) 72.95%,
    rgba(87, 93, 238, 0.14)
  );
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 73px;
  /* color: var(--color-white);
  font-family: var(--font-inter); */
}

/* text transition */

.fade-in-text {
  font-family: Arial;
  font-size: 60px;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* BUTTON DESIGN */
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;

  top: -430px;
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
  opacity: 1;
}

button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #ffd900;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after,
button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/* RESPONSE DESIGN PAGE */
@media (max-width: 482px) {
  .nav ol {
    flex-direction: column;
    text-align: center;
  }
  .nav ol li {
    padding-top: 8px;
  }
  .nav ol li:hover {
    background-color: rgb(129, 129, 248);
    border-radius: 3px;
  }
  .submit-your-attendence-container {
    font-size: 50px;
    left: 20px;
    top: 80px;
  }
  .students-or-employees-adding-e {
    left: 0px;
    top: 240px;
    width: 350px;
    height: auto;
  }
  .Logo {
    margin-left: -10px;
    margin-top: -2px;
    align-items: center;
  }
  /* .hamburger{
        display:flex;
        cursor:pointer;
    } */
}
